@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Nanum+Pen+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#container {
  margin: 0 auto;
  width: 1200px;
}

header {
  margin-top: 5px;
  margin-bottom: 8px;
  width: 100%;
  height: 100px;
  background-color: rgb(162, 80, 238);

  border-radius: 20px 20px 25px 25px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    8px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#logo {
  float: left;
  width: 250px;
  height: 100px;
  line-height: 47px;
  padding-left: 30px;
  text-shadow: 3px 3px rgb(54, 24, 61);
}

#logo h1 {
  font-family: "Itim", cursive;
  font-size: 40px;
  color: #fff;
  animation: worm 10s infinite;
  /*transition: 0.5s ease-in;*/
}

/*#logo:hover > a > h1 {
  transform: rotate(-5deg);
  
}*/

@keyframes worm {
  from {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: perspective(200px) rotateX(360deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(360deg) rotateY(360deg);
  }
  75% {
    transform: perspective(200px) rotateX(0deg) rotateY(360deg);
  }
  to {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
}

#world {
  float: right;
}
nav {
  float: right;
  width: 900px;
  height: 100px;
  padding-top: 32px;
}

#topMenu {
  height: 60px;
}

#topMenu > li {
  float: left;
  position: relative;
}

#topMenu > li > a {
  display: block;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px #07c;
  padding: 20px 60px;
  font-family: "Itim", cursive;
  font-family: "Merienda", cursive;
}

#topMenu > li > a > span {
  font-size: 0.5em;
}

#topMenu > li > a:hover {
  color: #000;
  text-shadow: 0 -1px #07c;
}

#topMenu > li > ul {
  display: none;
  position: absolute;
  width: 160px;
  background-color: rgb(179, 205, 209);
  left: 0;
  margin: 0;
  left: 20px;
}

#topMenu > li > ul > li {
  padding: 10px 10px 10px 30px;
}

#topMenu > li > ul > li > a {
  padding: 10px;
  color: #000;
}

.hangeul {
  font-size: 21px;
  padding: 10px;
  color: #000;
  font-family: "Itim", cursive;
  font-family: "Nanum Pen Script", cursive;
}

.english {
  font-size: 14px;
  font-family: "Itim", cursive;
  font-family: "Merienda", cursive;
}

#topMenu > li:hover > ul {
  display: block;
  z-index: 10;
}

#topMenu > li > ul > li > a:hover {
  color: #fff;
}

#question {
  float: left;
  width: 475px;
  height: 245px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-image: url("../images/autocar2.jpg");
  background-size: 100% 245px;
  border-radius: 30px;
}

#question h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #fff;
  font-family: "Itim", cursive;
  font-size: 35px;
  text-shadow: 3px 4px rgb(27, 47, 78);
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#question p {
  text-align: center;
  font-weight: 800;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 2px rgb(27, 47, 78);
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 30px;
  padding-bottom: 20px;
}

#question a {
  margin: 5px 10px 0px 0px;
  padding: 8px;
  float: right;
  font-size: 13px;
}

#question a,
a:visited {
  color: #fff;
  background-color: rgba(10, 10, 10, 0.7);
  border-radius: 20px;
}

#slideShow {
  float: right;
  width: 720px;
  height: 405px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    10px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#slides {
  position: absolute;
}

#slides > a > img {
  width: 720px;
  float: left;
}

button {
  position: absolute;
  height: 405px;
  top: 0;
  border: none;
  padding: 20px;
  background-color: transparent;
  color: #000;
  font-weight: 800;
  font-size: 24px;
  opacity: 0.5;
}
#prev {
  left: 0;
}
#next {
  right: 0;
}
button:hover {
  background-color: #222;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#box {
  clear: left;
  width: 475px;
  height: 155px;
  background-color: rgb(57, 57, 168, 0.83);
  /*background-color: rgb(60, 179, 113);*/
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
  border: 1.9px solid rgb(85, 85, 85);
  /*border: 3px solid rgb(44, 134, 85);*/
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    5px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#box h3 {
  padding-top: 15px;
  text-align: center;
  color: #fff;
}

#box p {
  text-align: center;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  padding-top: 10px;
}

#box p i {
  font-size: 14px;
  float: right;
  padding-right: 20px;
}

#tabMenu {
  float: left;
  width: 595px;
  height: 300px;
  background-color: rgb(245, 245, 219);
  border-radius: 35px;
  border: 1px solid #ddd;
  margin-right: 5px;
  margin-bottom: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    5px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#tabMenu input[type="radio"] {
  display: none;
}

#tabMenu label {
  display: inline-block;
  margin: 0 0;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid transparent;
  border-radius: 20px;
}

#tabMenu label:hover {
  color: #222;
  cursor: pointer;
}

#tabMenu input:checked + label {
  color: rgb(22, 7, 233);
  border: 1px solid #ddd;
  background-color: #eee;
}

.tabContent {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tabContent h2 {
  display: none;
}

#book ul {
  list-style: disc;
  margin-left: 30px;
}

#book ul li {
  font-size: 16px;
  display: inline;
}

#book ul li img {
  width: 130px;
  margin: 0px 20px;
  transition: 1s;
}

#book ul li img:hover {
  transform: rotateY(20deg);
}

#think ul {
  list-style: disc;
  margin-left: 60px;
  line-height: 33px;
}

#science ul {
  list-style: disc;
  margin-left: 60px;
  line-height: 33px;
}

#tab1:checked ~ #book,
#tab2:checked ~ #think,
#tab3:checked ~ #science {
  display: block;
}

#links {
  float: right;
  width: 600px;
  height: 300px;
  background-color: ivory;
  border-bottom: 5px solid #fff;
  border: 1px solid #ddd;
  border-radius: 35px;
  margin-bottom: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    5px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

#links > p {
  margin-left: 40px;
  padding: 5px 0;
  font-weight: 600;
  padding: 16px 0;
}

#links ul {
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
}

#links ul li {
  float: left;
  width: 33%;
  text-align: center;
  margin: 10px 0;
}

#links ul li a span {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 15%;
  border: 1px solid #ddd;
  line-height: 150px;
}

.linkContent {
  border-top: 1px solid #ddd;
  padding: 0;
}

.linkContent p {
  padding-top: 10px;
}

#quick-icon1 {
  background-image: url("https://img.podbbang.com/img/pb_m/thumb/x200/10661.png?_1625682026");
  background-size: 155px;
}

#quick-icon2 {
  background-image: url("https://img.podbbang.com/img/pb_m/thumb/x200/15206.png?_1627052760");
  background-size: 155px;
}

#quick-icon3 {
  background-image: url("https://img.podbbang.com/img/pb_m/thumb/x200/66.png?_1627356198");
  background-size: 155px;
}

footer {
  clear: both;
  margin: 0 auto;
  width: 1200px;
  height: 100px;
  border-bottom: solid 5px #fff;
  border-top: 2px solid #222;
}

#bottomMenu {
  width: 100%;
  height: 20px;
  position: relative;
}

#bottomMenu ul {
  margin-top: 15px;
}

#bottomMenu ul li {
  float: left;
  padding: 5px 20px;
  border-right: 1px solid #ddd;
}

#bottomMenu ul li:last-child {
  border-right: none;
}

#bottomMenu ul li a,
#bottomMenu ul li a:visited {
  font-size: 15px;
  color: #666;
}

#sns ul li {
  margin-top: 10px;
}

#sns img {
  width: 25px;
}

#email {
  position: absolute;
  top: 20px;
  right: 100px;
  color: #aaa;
}
